body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    font-size: medium;
    background-color: rgba(85, 121, 119, 0.55);
}

#nav-left {
    width: 600px;
    justify-content: left;
}

#nav-right {
    width: 650px;
    justify-content: space-evenly;
    color: white;
}

.nav-box {
    height: 50px;
    display: inline-flex;
}

a:link {
    color: white;
    text-decoration-line: none;
}
a:hover {
    font-weight: bold;
    text-decoration-line: underline;
    color: white;
  }

a:visited{
    color: white;
}

.purple-background {
    background-image: url('z_gradient-violet-bg.jpg');
    background-position: 60% 60%;
    background-size: cover;
    padding: 75px;
}

.green-background {
    background-image: url('z_green-bg.jpg');
    background-position: 60% 60%;
    background-size: cover;
    padding: 75px;
}

#laptop-image {
    align-content: center;
}

button {
    border-radius: 5px;
    background-color: #fe9000;
    border-color: #fe9000;
}

td {
    padding: 20px;
}

h2 {
    font-size: 40px;
}

h4 {
    font-size: 18px;
}

h5 {
    text-align: right;
    font-size: 14px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.ital {
    font-style: italic;
}

.white_text {
    color: white;
}